@page "/machinedetails/{MachineId:int}"
@rendermode InteractiveServer

<PageTitle>Machine Details</PageTitle>


<h3>Machine Details</h3>

<h1 class="page-item">
    Details for Machine : @Machine.MachineName
</h1>
<div class="">
    @if(Machine.MachineStatus)
    {
        <div>
            <span class="badge bg-primary text-wrap" style="width: 6rem">
                Online
            </span>
        </div>
    }
    else
    {
        <div>
            <span class="badge bg-primary text-wrap" style="width: 6rem">
                Offline
            </span>
        </div>
    }

    <div class="mt-2">
        <button type="button" class="btn btn-online-primary me-1" @onclick="ChangeMachineStatus"> Change Machine Status</button>
    </div>
</div>


@code {
    [Parameter]
    public int MachineId { get; set; }
    public Machine Machine { get; set; } = new Machine();
    protected override void OnInitialized()
    {
        Machine = MockDataServices.Machines.Single(m => m.MachineId == MachineId);
    }
    private void ChangeMachineStatus()
    {
        Machine.MachineStatus = !Machine.MachineStatus;
    }

}