@page "/"

<PageTitle>Park Overview</PageTitle>


<h3>ParkOverview</h3>


    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Machine ID</th>
                <th>Machine Name</th>
                <th>Machine Status</th>
                <th>Latest Date Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var machine in Machines)
            {
                <tr>
                    <td>@machine.MachineId</td>
                    <td>@machine.MachineName</td>
                    <td>@machine.MachineStatus</td>
                    <td>@machine.LatestDateFromMachine.ToString()</td>
                </tr>
            }

        </tbody>
    </table>


@code {
    public List<Machine> Machines { get; set; } = default!;

    protected async override Task OnInitializedAsync()
    {
        Machines = MockDataServices.Machines;
    }

}
