@using MachinexPark.app.Services
@using MachinexPark.app.Model

<div class="card">
    <h4>Machine Count</h4>

    <h4> There are currently <span style="background-color: greenyellow">@MachineCounter</span> number of machines in Machinex Park</h4>
    <br />
    <br />
</div>

